
.menu__a{
    text-decoration: none;
}


.header{
    width: 100%;
    height: 40px;
    background-color: #000;
    box-sizing: border-box;
    position: fixed;
    z-index: 1;

}

.menu__ul{
    display: flex;
    flex-direction: column;
    width: 45%;
    background-color: rgba(106, 36, 68, 0.578);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 40px;
    height: 100vh;
    padding-left: 20px;
    padding-right: 20px;
    left: -100vw;
}

.menu__ul-visible{
    left: 0;
}

.div__logo{
    position: absolute;
    right: 10px;
}
.logo{
    height: 40px;
}


.menu__li{
    list-style: none;
    margin: 5px;
    border: 0.1px solid #fff;
    border-radius: 30px;
    padding: 5px;
    background-color: #31021069;
    backdrop-filter: blur(10px);
    transition: all 500ms;
    display: flex;
    justify-content: center;
    

}
.menu__a{
    font-family: Verdana;
    text-decoration: none;
    color: #fff;
}
.menu__li:hover a{
    color: #000;
}
.menu__li:hover{
    background-color: #fff;
    border-color: black;
}  